<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card p-4 mb-4 mx-auto">
				<h1>Editar musica</h1>
				<hr class="custom-hr"/>
				<br>
				<%= render 'musics/form' %>
			</div>
		</div>
	</div>
</div>

